/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Philosopher:ital@0;1&display=swap');

/* general */

* {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    color: #000;
}

body {
    background-color: #fce4ec;
}

h1, h2, h3 {
    font-family: 'Philosopher', serif;
    font-style: italic;
}

/* navbar */

.brand-logo {
    font-family: 'Philosopher', serif;
    font-style: italic;
}

.nav-wrapper {
    padding-left: 20px;
}

/* footer */

footer {
    text-align: center;
}

.footer-text {
    font-size: 1.2em;
    font-family: 'Philosopher', serif;
    font-style: italic;
    color: #ffe082;
    display: inline-block;
}

.footer-links a i {
    color: #ffe082;
    margin: 0 10px;
    font-size: 1.6em;
}

/* Events list page */

.event-card {
    border: 1px solid #000;
    border-radius: 20px;
    outline: 3px solid #ffe082;
    outline-offset: -5px;
    height: 330px;
    text-align: center;
    background-color: #f8bbd0;
    margin-top: 10px;
}

.event-card-image {
    width: 95%;
    height: 45%;
    object-fit: cover;
    margin-top: 20px;
}

.event-card-divider {
    width: 60%;
}

.event-card-title {
    font-size: 1.2em;
    margin: 0 20px;
    color: #0d47a1;
}

.event-card-date-and-time {
    margin: 8px 0;
}

#events-page-title {
    display: inline-block;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: dashed 2px #ffca28;
    margin: 0 auto;
    background-color: #ffe082;
}

.add-button {
    margin-top: 2rem;
}

.add-button:hover, .edit-button:hover {
    background-color: #00e676;
}

.delete-button:hover {
    background-color: #d32f2f;
}