/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Philosopher:ital@0;1&display=swap');

/* general */

* {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    color: #000;
}

body {
    background-color: #fce4ec;
}

h1, h2, h3 {
    font-family: 'Philosopher', serif;
    font-style: italic;
}

/* Events list page */

.event-card {
    outline: 1px solid #000;
    outline-offset: -10px;
    border-radius: 20px;
    height: 300px;
    text-align: center;
}

.event-card-image {
    width: 90%;
    height: 55%;
    object-fit: cover;
    margin-top: 30px;
}

.event-card-divider {
    width: 60%;
}

.event-card-title {
    font-size: 1.2em;
    margin: 0 20px;
}

#events-page-title {
    display: inline-block;
}

.button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: dashed 1px #efefef;
    margin: 0 auto;
}