{% extends 'base.html' %}

{% block content %}

<!-- page title and add event button container-->
<div>
    <h3 id="events-page-title">Upcoming Events</h3>
    <!-- only show admins the add event option -->
    {% if user.is_staff %}
    <a href="{% url 'add_event' %}"><button class="right button"><i class="material-icons">add_circle_outline</i></button></a>
    {% endif %}
</div>

<hr>

<!-- upcoming events display -->
<div class="event-list">
    <div class="row">
        {% for event in events %}
        <div class="col s12 m6 l4 event-card">
            <img src="{{ event.image.url }}" alt="Starry sky" class="event-card-image">
            <hr class="event-card-divider">
            <p class="event-card-title"><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></p>
    
            <!-- only show admins the edit and delete event options -->
            {% if user.is_staff %}
            <a href="{% url 'edit_event' event.id %}"><button class="button"><i class="material-icons">create</i></button></a>
            <a href="{% url 'delete_event' event.id %}"><button class="button"><i class="material-icons">close</i></button></a>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}