{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<!-- page title and add event button container-->
<div>
    <h3>Upcoming Events</h3>
    <button class="right"><a href="{% url 'add_event' %}">Add Event</a></button>
</div>
{% endif %}

<!-- upcoming events display -->
<div class="event-list">
    {% for event in events %}
    <div>
        {{ event.title }}
        {{ event.description }}
        <img src="{{ event.image.url }}" alt="Starry sky" style="width: auto; height: 200px;">
        {{ event.guide.role_text }}
        <a href="{% url 'event_details' event.id %}">Event Details</a>
        <button><a href="{% url 'edit_event' event.id %}">Edit Event</a></button>
    </div>
    {% endfor %}
</div>

{% endblock %}