{% extends 'base.html' %}

{% block content %}

<!-- Landing page image -->
<div class="jumbotron"></div>

<!-- title and about us section -->
<div class="row main-title-background">
    <div class="col s12 m10 l8 push-m1 push-l2">
        <h1 id="main-title">Star Seekers</h1>
    </div>
</div>

<div class="row">
    <div class="col s12 m8 push-m2">
        <h2 id="about-title">Come and seek the stars with us...</h2>
    </div>
</div>

<div class="row">
    <div class="col s12 m4 center about-column">
        <i class="fa-solid fa-star about-icon"></i>
        <p>about</p>
    </div>
    <div class="col s12 m4 center about-column">
        <i class="fa-solid fa-sun about-icon"></i>
        <p>about</p>
    </div>
    <div class="col s12 m4 center about-column">
        <i class="fa-solid fa-moon about-icon"></i>
        <p>about</p>
    </div>
</div>
    
{% endblock %}
