{% extends 'base.html' %}

{% block content %}

<!-- Landing page image -->
<div class="jumbotron"></div>

<!-- title and about us section -->
<div class="row main-title-background">
    <div class="col s12 m10 l8 push-m1 push-l2">
        <h1 id="main-title">Star Seekers</h1>
    </div>
</div>

<!-- about title row -->
<div class="row">
    <div class="col s12 m8 push-m2">
        <h2 id="about-title">Come and seek the stars with us...</h2>
    </div>
</div>

<!-- about us content row -->
<div class="row about-row">
    <!-- about column 1 -->
    <div class="col s12 m12 l4 center">
        <i class="fa-solid fa-star about-icon"></i>
        <p>
            Modern life is structured around daylight. We work in the daytime and sleep at night. 
            Here at Star Seekers, we think that should change. As beautiful as the world can be 
            when it is lit up by the sun, we think the true beauty of our planet is unveiled 
            under the stars. We want you to see that beauty too, that is what Star Seekers is all about.
        </p>
    </div>
    <!-- about column 2 -->
    <div class="col s12 m12 l4 center">
        <i class="fa-solid fa-sun about-icon"></i>
        <p>
            Our team of incredible guides host night-time events at various times and locations with 
            all sorts of different themes for you to choose from. Our events are usually an hour in 
            length and involve: meeting your fellow seekers for the night, taking a short tour of the
            night's location, and finally stopping and truly embracing the sky at the event's star-stop!
        </p>
    </div>
    <!-- about column 3 -->
    <div class="col s12 m12 l4 center">
        <i class="fa-solid fa-moon about-icon"></i>
        <p>
            To get started, check out the Events page to see a list of upcoming events. If
            any take your fancy, all you have to do is click on the event to view more details about it.
            From there you can ask a question and view questions asked by others. Most importantly,
            after creating an account you can book your place at any event you like. We can't wait to
            see you soon!
        </p>
    </div>
</div>
    
{% endblock %}
